<div class="col-12 text-secondary" style="font-size: smaller">
    <div class="row text-info">
        <div class="col-12"><h4>{{ i18n.trans('location-leyend') }}</h4></div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row mb-2">
                <div class="col-12"><b>{{ i18n.trans('type') }}</b>:&nbsp;&nbsp;{{ i18n.trans('storage-type-desc') }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-12"><b>{{ i18n.trans('location') }}</b>:&nbsp;&nbsp;{{ i18n.trans('location-desc') }}</div>
            </div>
        </div>
    </div>
</div>
